* {
    margin: 0;
    padding: 0;
}

a ~ p {
    color: red;
}

.img {
    width: 100rem;
    height: 20rem;
}

.img1 {
    background: url("./img/mem-1.PNG") no-repeat;
}

.img2 {
    background: url("./img/mem-2.jpg") no-repeat;
}

.img3 {
    background: url("./img/mem-3.jpg") no-repeat;
}

.img4 {
    background: url("./img/mem-4.jpg") no-repeat;
}

.img5 {
    background: url("./img/mem-5.jpg") no-repeat;
}