* {
    margin: 0;
    padding: 0;
}

.img {
    width: 30rem;
    height: 20rem;
}

.img1 {
    background: url("./img/mem-1.PNG") no-repeat;
}

.img2 {
    background: url("./img/mem-2.jpg") no-repeat;
}

.img3 {
    background: url("./img/mem-3.jpg") no-repeat;
}

.img4 {
    background: url("./img/mem-4.jpg") no-repeat;
}

.img5 {
    background: url("./img/mem-5.jpg") no-repeat;
}

section {
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.mem--container {
    width: fit-content;
    display: flex;
    overflow: hidden;
}

.text--container {
    display: flex;
    width: fit-content;
    overflow: hidden;
}

p {
    width: 30rem;
}

#radio-img1:checked ~ .mem--container{
    transform: translate(0);
}

#radio-img2:checked ~ .mem--container{

    transform: translate(-30rem);
}

#radio-img3:checked ~ .mem--container{
    transform: translate(-60rem);
}

#radio-img4:checked ~ .mem--container{
    transform: translate(-90rem);
}

#radio-img5:checked ~ .mem--container{
    transform: translate(-120rem);
}



#radio-img1:checked ~ .text--container{
    transform: translate(0);
}

#radio-img2:checked ~ .text--container{

    transform: translate(-30rem);
}

#radio-img3:checked ~ .text--container{
    transform: translate(-60rem);
}

#radio-img4:checked ~ .text--container{
    transform: translate(-90rem);
}

#radio-img5:checked ~ .text--container{
    transform: translate(-120rem);
}

.text--container, .mem--container {
    transition-property: transform;
    transition-duration: 0.76s;
}